body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;  
    padding-top: 10rem;
    height: 100vh;
   background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
   background-repeat: no-repeat no-repeat;
   background-position: right 50vw bottom 40vh, left 45vw top 40vh;
    
}

.white-background {
    background-color: white;
}


.profile {    
    width: min(90%, 25rem);
    background-color: white;
    border-radius: 20px;
    padding: 0;
}

.banner-section {
    margin-bottom: -2.7rem;
    border-radius: 20px 20px 0 0;
}


.banner-img {
    width: 100%;
    border-radius: 20px 20px 0 0;   
}


.profile-image {
    border-radius: 50%;
    border: 5px solid #fff;
    position: relative;
    z-index: 1;
    bottom: 3.3rem;
}


.id-heading {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.age{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.location {
    margin: 0;
    color: hsl(0, 0%, 59%);
    padding-bottom: 1.5rem;
    
}


.stat-section {
    margin: auto;
    border-top: 1px solid hsl(0, 0%, 59%);
    padding-top: 1.5rem;
}


.stat-description {
    font-size: 0.8rem;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    padding-bottom: 1rem;
    border-radius: 0 0 20px 20px;
    margin: auto;
}

.attribution {
    margin-top: 1rem;
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: blanchedalmond;
}


@media (max-width: 400px) {


    .profile,
    .attribution {
        min-width: 15rem;
    }

    .id-heading {
        font-size: 1rem;
    }

    .stat-description {
        font-size: .6rem;
    }

    .location {
        font-size: .8rem;
    }


}
