body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    padding: 5rem;
    text-align: center;  
    /* background-image: url(images/bg-pattern-top.svg); */
    /* background-image: url(images/bg-pattern-top.svg); */
    background-repeat: no-repeat;
    height: 100vh;
    


     /* background-image: url("images/bg-pattern-bottom.svg"), url("images/bg-pattern-top.svg");
     background-position: left 48vw top 52vh, right 50vw bottom 35vh;
     background-repeat: no-repeat, no-repeat;
     background-color: hsl(185, 75%, 39%);
     height: 100vh; */
}

.bgtop {
    position: absolute;
    top: 20rem;
    width: 60rem;
    transform: rotate(-90deg);
    z-index: -1;
    /* overflow: hidden; */

}

.background-img-bottom {

}

.profile {    
    width: 25rem;
    background-color: hsl(185, 75%, 39%);;
    padding: 0;
}

.banner-section {
    margin-bottom: -2.7rem;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
}


.banner-img {
    width: 100%;
    border-radius: 20px 20px 0 0;    
}


.profile-image {
    border-radius: 50%;
    border: 5px solid #fff;
    position: relative;
    z-index: 1;
    bottom: 3.3rem;
    background-color: white;
}


.id-section {
    background-color: #fff;
    padding: 1rem 1rem 1.5rem;
}

.id-heading {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.age{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.location {
    margin: 0;
    color: hsl(0, 0%, 59%);
}


.stat-section {
    margin: auto;
    background-color: white;
    border-top: 1px solid hsl(0, 0%, 59%);
    padding-top: 1.5rem;
}


.stat-description {
    font-size: 0.8rem;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 0 0 20px 20px;
    margin: auto;
}

.col-sm-4 {

}



@media (max-width: 600px) {
    .profile {
        width: 315px;
        height: 350px;
    }

    .col-sm-4 {
        width: 5rem;
        margin: auto;
    }
]
}

